body {
    background-color:white;
}

header {
    background: #555555;
    color: #f1f1f1;

}

footer {
    border-top: black solid thin;
    height:60px;
    margin-top: 40px;
}

.card {
    margin: 50;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%
}

.title {
    height: 500px;
    background: url("../pics/titlepic.jpeg");
    margin-top: 140px;
    

   
}


.about-me {
    margin-top: 160px;
    width: 100%;
    margin-left: 250px;
    margin-bottom: 350px;

}

.portfolio {
    margin-top: 150px;
}

.title-inside {
    text-align: center;
    margin-top: 50px;
    color: black;
}

.bottom-row {
    margin-bottom: 100px;
}